# Trend Review {{ for_date }}

{% for basket,symbol_data in baskets|dictsort %}
---

## {{ basket }}

### Data Table

| Symbol | Direction |  RSI  |
|--------|-----------|-------|{% for symbol,data in symbol_data|dictsort %}
| {{ symbol|center(6) }} | {{ data.Direction|center(9) }} | {{ '%2.2f'|format(data.RSI) }} |{% endfor %}

{% for symbol,data in symbol_data|dictsort %}
### {{ symbol }}

|  RSI(14) | Direction | Basket |
|----------|-------|--------|
|  {{ data.RSI }} | {{ data.Direction }} | {{ data.Basket }} |

![image]({{ data.Chart.URL }})
{% endfor %}
{% endfor %}
